.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 10px 20px;
  &:first-child {
    border-top: 1px solid #cccccc;
  }
  span.todo-text {
    margin-right: 20px;
    &.tachado {
      text-decoration: line-through;
    }
  }
  .button-done {
    margin-left: 20px;
  }
  .button-action {
    margin-right: 5px;
  }
}
